body {
  margin: 3rem 0;
}

html {
  font-family: 'Arvo', serif;
}

ol {
  list-style: none;
}

h1 a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.article-infos {
  font-size: 80%;
  color: #888;
}
